{{ define "header" }}
<nav class="left max l">
    <header>
        <nav>
            <img alt="logo"
                src="https://images.unsplash.com/photo-1506784983877-45594efa4cbe?auto=format&fit=crop&w=40&h=40&q=80"
                alt="GTD" class="circle extra">
            <h6>{{ .ApplicationName }}</h6>
        </nav>
    </header>
    <a href="/">
        <i>home</i>
        <span>Home</span>
    </a>
    <a href="/inbox">
        <i>inbox</i>
        <span>Inbox</span>
    </a>
    <a href="/nextactions">
        <i>task</i>
        <span>Next Actions</span>
    </a>
    <a href="/waiting_for">
        <i>pending</i>
        <span>Waiting For</span>
    </a>
    <a href="/maybe">
        <i>question_mark</i>
        <span>Maybe</span>
    </a>
    <a href="/notes">
        <i>notes</i>
        <span>Notes</span>
    </a>
    <a href="/topics">
        <i>folder</i>
        <span>Topics</span>
    </a>
    <a href="/contacts">
        <i>contacts</i>
        <span>Contacts</span>
    </a>
    <a href="/help">
        <i>help</i>
        <span>Help</span>
    </a>
</nav>

<nav class="left m">
    <header>
        <img alt="logo"
            src="https://images.unsplash.com/photo-1506784983877-45594efa4cbe?auto=format&fit=crop&w=40&h=40&q=80"
            alt="GTD" class="circle extra">
        <h6>{{ .ApplicationName }}</h6>
    </header>
    <a href="/">
        <i>home</i>
        <span>Home</span>
    </a>
    <a href="/inbox">
        <i>inbox</i>
        <span>Inbox</span>
    </a>
    <a href="/nextactions">
        <i>task</i>
        <span>Next Actions</span>
    </a>
    <a href="/waiting_for">
        <i>pending</i>
        <span>Waiting For</span>
    </a>
    <a href="/maybe">
        <i>question_mark</i>
        <span>Maybe</span>
    </a>
    <a href="/notes">
        <i>notes</i>
        <span>Notes</span>
    </a>
    <a href="/topics">
        <i>folder</i>
        <span>Topics</span>
    </a>
    <a href="/contacts">
        <i>contacts</i>
        <span>Contacts</span>
    </a>
</nav>

<nav class="bottom s">
    <a href="/">
        <i>home</i>
    </a>
    <a href="/inbox">
        <i>inbox</i>
    </a>
    <a href="/nextactions">
        <i>task</i>
    </a>
    <a href="/waiting_for">
        <i>pending</i>
    </a>
    <a href="/maybe">
        <i>question_mark</i>
    </a>
    <a href="/notes">
        <i>notes</i>
    </a>
    <a href="/topics">
        <i>folder</i>
    </a>
    <a href="/contacts">
        <i>contacts</i>
    </a>
</nav>
{{ end }}